.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.w-form-formradioinput--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

img {
  display: inline-block;
  max-width: 100%;
}

.body {
  overflow: hidden;
  background-color: #fff;
  font-family: Montserrat, sans-serif;
}

.preload-page {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  height: 100vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #ffebea;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 235, 233, 0.1)), to(rgba(255, 235, 233, 0.1))), url('../images/plant-bg.jpg');
  background-image: linear-gradient(180deg, rgba(255, 235, 233, 0.1), rgba(255, 235, 233, 0.1)), url('../images/plant-bg.jpg');
  background-position: 0px 0px, 36% 50%;
  background-size: auto, 1300px;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, scroll;
}

.social-media-wrapper {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 99;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-left: 1px solid hsla(0, 0%, 100%, 0.3);
  background-color: #fff;
  color: #fff;
}

.social-media-link {
  position: static;
  margin-top: 60px;
  margin-bottom: 60px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  font-family: Exo, sans-serif;
  color: #ff9a80;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0px;
  text-decoration: none;
}

.columns {
  position: relative;
  top: 40vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  text-align: left;
}

.button {
  width: 390px;
  height: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 14px;
  background-color: #fe7878;
  -webkit-transition: background-color 200ms cubic-bezier(.754, .141, .55, .668);
  transition: background-color 200ms cubic-bezier(.754, .141, .55, .668);
  font-size: 22px;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(254, 120, 120, 0.64);
}

.column {
  margin-top: 20px;
}

.heading-5 {
  font-size: 52px;
}

.checkout-wrapper {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
}

.bg-checkout {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: #fff0ec;
}

.div-block {
  position: static;
  left: 25%;
  top: 15%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 780px;
  height: 620px;
  margin-right: 56px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  align-self: center;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-radius: 14px;
  background-color: #fff;
}

.columns-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 770px;
  height: 610px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.column-2 {
  padding-right: 12px;
  padding-left: 10px;
  border-radius: 8px 0px 0px 8px;
  background-image: -webkit-gradient(linear, left top, right top, from(#fe9595), color-stop(50%, #ffbbb3), to(#ffc8b5));
  background-image: linear-gradient(90deg, #fe9595, #ffbbb3 50%, #ffc8b5);
}

.div-block-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  background-color: #ffc8b5;
  -webkit-transform: translate(-10px, 0px) rotate(45deg);
  -ms-transform: translate(-10px, 0px) rotate(45deg);
  transform: translate(-10px, 0px) rotate(45deg);
}

.grid {
  margin-top: 14px;
  margin-right: 10px;
  margin-left: 10px;
  grid-column-gap: 0px;
  grid-row-gap: 14px;
  grid-template-areas: ". .""Area Area";
  -ms-grid-columns: 96px 0px 253px;
  grid-template-columns: 96px 253px;
  -ms-grid-rows: 80px 14px auto 14px auto 14px auto 14px auto 14px auto 14px auto;
  grid-template-rows: 80px auto auto auto auto auto auto;
}

.grid.gridtwo {
  -ms-grid-rows: 80px auto auto auto auto auto auto;
  grid-template-rows: 80px auto auto auto auto auto auto;
}

.heading-6 {
  margin-top: auto;
  margin-bottom: 20px;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
}

.heading-6.right-heading {
  color: #424242;
}

.img-preview {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 1px 1px 2px 0 rgba(44, 44, 44, 0.1);
}

.grid-2 {
  margin-top: 4px;
  padding-right: 5px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  grid-auto-flow: row;
  grid-row-gap: 6px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 81px auto;
  grid-template-rows: 81px auto;
}

.heading-7 {
  display: block;
  margin-top: 24px;
  margin-bottom: auto;
  padding-bottom: 10px;
  padding-left: 14px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-bottom: 1px solid #fff;
  color: #424242;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
}

.heading-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 14px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #424242;
  font-size: 14px;
  font-weight: 700;
}

.text-span {
  color: #fff;
}

.text-span-2 {
  color: #fff;
}

.heading-11 {
  height: 98.5%;
  margin-top: 0px;
  padding-left: 14px;
  background-color: hsla(0, 0%, 100%, 0.18);
}

.heading-11.items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 6px;
  padding-left: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 1px 1px 3px -1px rgba(44, 44, 44, 0.1);
  font-family: Montserrat, sans-serif;
  color: #424242;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.image-2 {
  margin-right: 12px;
  opacity: 0.86;
}

.image-3 {
  margin-right: 12px;
  opacity: 0.86;
}

.image-4 {
  opacity: 0.86;
}

.heading-12 {
  margin-top: 34px;
  color: #424242;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-field {
  margin-top: 0px;
  margin-bottom: 24px;
  border-bottom-right-radius: 8px;
  box-shadow: 1px 1px 2px 0 rgba(66, 66, 66, 0.3);
  color: #424242;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  text-align: left;
}

.section {
  margin-right: 20px;
  margin-left: 24px;
}

.text-field-2 {
  margin-bottom: 24px;
  border-bottom-right-radius: 8px;
  box-shadow: 1px 1px 2px 0 rgba(66, 66, 66, 0.3);
  color: #424242;
  font-size: 12px;
  font-weight: 500;
}

.text-field-3 {
  width: 140px;
  border-bottom-right-radius: 8px;
  box-shadow: 1px 1px 2px 0 rgba(66, 66, 66, 0.3);
  color: #424242;
  font-size: 12px;
  font-weight: 500;
}

.text-field-4 {
  width: 80px;
  margin-left: 84px;
  border-bottom-right-radius: 8px;
  box-shadow: 1px 1px 2px 0 rgba(66, 66, 66, 0.3);
  color: #424242;
  font-size: 12px;
  font-weight: 500;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0px;
  padding-right: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.radio-button-label {
  color: #fe6666;
  font-size: 12px;
  font-weight: 500;
}

.radio-button {
  width: 14px;
  height: 14px;
  margin-right: 12px;
  background-color: #fe6666;
  opacity: 1;
  -webkit-filter: contrast(140%);
  filter: contrast(140%);
  cursor: pointer;
}

.radio-button-field {
  margin-top: 35px;
}

.submit-button {
  width: 100%;
  margin-top: 40px;
  border-radius: 8px;
  background-color: #fe6666;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #fe9595;
}

.notification,
.go_back {
  display: none;
}

@media (max-width: 991px) {
  .preload-page {
    height: 100vh;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: none;
    background-size: auto;
  }

  .social-media-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 767px) {
  .preload-page {
    position: relative;
    height: 100vh;
    padding-bottom: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .social-media-wrapper {
    display: none;
  }
}

@media (max-width: 479px) {
  .preload-page {
    position: relative;
    height: 100vh;
    padding-top: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .notification,
  .go_back {
    display: block;
  }

  .go_back {
    width: 310px;
    margin: 0 auto;
  }

  .notification {
    margin-top: -60px;
  }

  .main_heading,
  .main_button {
    display: none;
  }

}

#w-node-b5c1e8442918-ffce1aa0 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-f3b6be97901b-ffce1aa0 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-da1a21e06476-ffce1aa0 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-3712e21915b9-ffce1aa0 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-c1aab6136050-ffce1aa0 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-704011105bd1-ffce1aa0 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-1a41727d331a-ffce1aa0 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
}

#w-node-14ec2c723fdf-ffce1aa0 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-3f3dc8abf1f5-ffce1aa0 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: start;
  justify-self: start;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-dd1a2ae0d1b1-ffce1aa0 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-45adfd1ffa31-ffce1aa0 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: Area;
  -ms-grid-row-align: start;
  align-self: start;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-7fde2fd7b227-ffce1aa0 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-94d5dbbe4693-ffce1aa0 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}