.container {
  margin: 16px auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: transparent;
}

.navbar {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.84)), to(hsla(0, 0%, 100%, 0.84))), url('../images/texture.svg');
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.84), hsla(0, 0%, 100%, 0.84)), url('../images/texture.svg');
  background-position: 0px 0px, 50% 50%;
  opacity: 0.98;
}

.image {
  display: block;
  padding-bottom: 1px;
  border-radius: 2px;
  background-color: transparent;
}

.body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #222;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  -webkit-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  -webkit-transform: perspective(0px);
  transform: perspective(0px);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  font-family: Montserrat, sans-serif;
  overflow: hidden;
}

.columns {
  width: 100vw;
  height: 100vh;
}

.column {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffdc80), color-stop(14%, #fcaf45), color-stop(28%, #f77737), color-stop(42%, #f56040), color-stop(57%, #e1306c), color-stop(68%, #c13584), color-stop(81%, #833ab4), color-stop(93%, #5851db), color-stop(100%, #405de6), to(#5851db));
  background-image: linear-gradient(180deg, #ffdc80, #fcaf45 14%, #f77737 28%, #f56040 42%, #e1306c 57%, #c13584 68%, #833ab4 81%, #5851db 93%, #405de6 100%, #5851db);
}

.column-2 {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#111), color-stop(50%, #222), to(#535353));
  background-image: linear-gradient(180deg, #111, #222 50%, #535353);
}

.section {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  height: 63px;
  background-color: #222;
}

.cal-body {
  position: absolute;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  display: block;
  width: 350px;
  height: 650px;
  margin-top: 2%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: #181818;
  background-image: linear-gradient(137deg, #000, #1b1b1b 45%, #3f3f3f 79%, #525252);
  box-shadow: -63px 31px 30px -35px rgba(0, 0, 0, 0.73), -59px 34px 45px 5px rgba(0, 0, 0, 0.41);
  -webkit-perspective: 1255px;
  perspective: 1255px;
  -webkit-transform: scale3d(1, 1, 0.2) rotateX(20deg) rotateY(0deg) rotateZ(0deg) skew(4deg, 0deg) perspective(0px) rotate(-40deg);
  transform: scale3d(1, 1, 0.2) rotateX(20deg) rotateY(0deg) rotateZ(0deg) skew(4deg, 0deg) perspective(0px) rotate(-40deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: all 375ms cubic-bezier(.39, .575, .565, 1);
  transition: all 375ms cubic-bezier(.39, .575, .565, 1);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.input {
  display: block;
  height: 120px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: #ba3589;
}

.buttons {
  display: block;
  height: 468px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: #e93030;
}

.menu-button {
  display: block;
  padding-top: 18px;
  padding-right: 0px;
  padding-bottom: 0px;
}

.menu-button.w--open {
  background-color: transparent;
}

.nav-menu {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: transparent;
  font-weight: 500;
}

.navbar-2 {
  background-color: transparent;
}

.icon {
  color: #ba3589;
  font-weight: 500;
}

.nav-link {
  display: block;
  padding-top: 10px;
  padding-bottom: 3px;
  color: #f66a3c;
  line-height: 18px;
  font-weight: 600;
}

.nav-link-2 {
  display: block;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #dc3170;
  line-height: 18px;
  font-weight: 600;
}

.nav-link-3 {
  display: block;
  padding-top: 3px;
  padding-bottom: 10px;
  color: #9339a8;
  line-height: 18px;
  font-weight: 600;
}

.nav-link-4 {
  display: block;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #eb4757;
  line-height: 18px;
  font-weight: 600;
}

.operators {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.plus {
  display: inline-block;
  background-color: #aaa;
}

.times {
  display: inline-block;
  background-color: #505050;
}

.minus {
  display: inline-block;
  background-color: #6d6d6d;
}

.divide {
  display: inline-block;
  background-color: #303030;
}

.leftpanel {
  display: block;
  width: 257px;
  height: 384px;
  margin-top: 34px;
  margin-left: 8px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #4a864e;
}

.numbers {
  display: inline-block;
  margin-left: 18px;
  text-align: center;
}

.numbers.edge {
  margin-left: 49px;
}

.numbers.edgetwo {
  margin-left: 45px;
}

.numbers.edgethree {
  margin-right: 0px;
}

.one {
  margin-bottom: 50px;
}

.two {
  margin-bottom: 50px;
}

.three {
  margin-bottom: 50px;
}

.seven {
  margin-bottom: 50px;
}

.eight {
  margin-bottom: 50px;
}

.nine {
  margin-bottom: 50px;
}

.four {
  margin-bottom: 50px;
}

.five {
  margin-bottom: 50px;
}

.six {
  margin-bottom: 50px;
}

.zero {
  display: inline-block;
  margin-right: 16px;
}

.dot {
  display: inline-block;
  margin-right: 16px;
  margin-left: 42px;
}

.clear {
  display: inline-block;
  margin-left: 40px;
}

.sizes,
.tabs {
  font-size: 60px;
  line-height: 50px;
  font-weight: 100;
}

.sizes {
  font-size: 80px;
}

.equal {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: auto;
  display: inline-block;
  width: 76px;
  height: 384px;
  margin-top: 24px;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #465ae4;
  text-align: left;
  font-size: 70px;
  font-weight: 200;
  text-align: center;
  padding-top: 162px;
}

.div-block {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  margin-bottom: 5%;
  margin-left: 15%;
}

.button {
  padding: 12px 40px;
  border-bottom: 1px solid #ba3589;
  background-color: transparent;
  opacity: 0.9;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}